/* Big tablets to 1200px (widths smaller than 1140px row) */
@media only screen and (max-width: 1200px){
    .slogan-text-box {
        width: 100%;   
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}
/* Small tablets to big tables from 768px - 1023px */
@media only screen and (max-width: 1023px){
    body {font-size: 18px; }
    section { padding: 60px 0;}

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%; }
    .contact-form { width: 80%; }

    .menu-pic-holder .text {
        z-index: 999;
        position: absolute;
        
        align-content: center;
        justify-content: center;
        padding: 10px 5px 5px 5px;
        margin-bottom: 8px;
        width:100%;
        color: #fff;
        font-size: 80%;
        font-weight: 320;
        top: 70%; 
        background:#ffad33;
       
    }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px){
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .slogan-text-box { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav { display: none; }
    .mobile-nav { display: inline-block; }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav { margin-top: 10px; }
    .sticky .mobile-nav i { color: #555; }


    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .section-about_us .col,
    .section-testimonials .col {
        text-align: center;
    } 

    .section-testimonials .col li {
        text-align: justify;
    }

    .span-1-of-3 li {
        justify-items: center;
    }

    .icon-small {
        margin-left: 35%;
    }
    
}


/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
    @media only screen and (max-width: 480px) {
        section { padding: 25px 0; }
        .contact-form {width: 100%; }
    }

    input[type=sumbit]{
        text-align: center;
    }
    
}




